@media all and (max-width: 670px) {
    .ke{
        width: 20px;
       } 
       .home, .search, .explore, .reels, .messages, .notifications, .create, .search, .more {
          padding: 0 15px;
          font-size: 10px;
        }
        .logo{
            width: 100px;
            margin-left: 10px;
          }
          .listmenu li{
            float: left;
            line-height: 50px
          }

          .listmenu{
            float: left;
            margin-left: 20px;
          }
          header {
              height: 55px;
          }
          .footer-logo img {
            width: 130px;
            float: left;
            padding: 10px 25px;
          }
          footer {
            background-color: #FFFFFF;
            height: 180px;
            padding-bottom: 20px;
          }
        }
